body {
    font-family: $font-main;
    font-weight: 400;
    /* font-size: 1.6rem; */
    line-height: 1.7;
    color: $color-grey-dark;
}
.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        font-family: $font-header;
        display: block;
        font-size: 5.5rem;
        font-weight: 400;
        letter-spacing: 4rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @include respond(phone) {
            font-size: 3rem;
            letter-spacing: 1rem;
        }
    }
    &--sub {
        display: block;
        font-size: 2.2rem;
        font-weight: 700;
        letter-spacing: 0.4rem;
        animation: moveInRight 1s ease-out;

        @include respond(phone) {
            font-size: 1.2rem;
            letter-spacing: 0.1rem;
        }
    }
}
.heading-secondary {
    font-family: $font-header;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    @include respond(tab-port) {
        font-size: 2.5rem;
    }
    @include respond(phone) {
        font-size: 2rem;
    }

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}
.heading-tertiary {
    font-family: $font-header;
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}
.paragraph {
    font-size: $default-font-size;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}