// color
$color-primary: #eb5365;
$color-primary-light: #ed213a;
$color-primary-dark: #93291e;
$color-grey-dark: #777;
$color-grey-dark-1: #35302f;
$color-grey-light-1: #f7f7f7;
$color-white: #fff;
$color-black: #000;
$color-secondary-light: #7ED56F;
$color-secondary-dark: #28B485;
$color-tertiary-light: #2998FF;
$color-tertiary-dark: #5643FA;


// font
$font-main: 'Montserrat', sans-serif;
$font-header: 'Pacifico', cursive;

// font-size
$default-font-size: 1.6rem;

// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 4rem;