.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh; 

    @include respond(tab-port) {
        padding: 20rem 0;
    }
}

.section-features {
    margin-top: -12vh;
    padding: 20rem 0;
    background-image: 
        linear-gradient(to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
    url(../assets/img/ash-black-background-blaze-954677.jpg);
    background-size: cover;
    background-position: bottom;

    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}
.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -12vh; 

    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}
.section-stories {
    padding: 15rem 0;
    position: relative;

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}
.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, 
        $color-primary-light, 
        $color-primary-dark);
}
.book {
    background-image: linear-gradient(105deg, 
        rgba($color-white, .7) 0%,
        rgba($color-white, .7) 50%,
        transparent 50%),
        url(../assets/img/ceramic-close-up-cook-269245.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

    @include respond(tab-land) {
        background-image: linear-gradient(105deg, 
            rgba($color-white, .7) 0%,
            rgba($color-white, .7) 70%,
            transparent 70%),
            url(../assets/img/ceramic-close-up-cook-269245.jpg);
        background-size: cover;
    }

    @include respond(tab-port) {
        background-image: linear-gradient(to right, 
            rgba($color-white, .9) 0%,
            rgba($color-white, .9) 100%,
            transparent 70%),
            url(../assets/img/ceramic-close-up-cook-269245.jpg);
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include respond(tab-land) {
            width: 70%;
        }

        @include respond(tab-port) {
            width: 100%;
        }
    }
}