.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 3000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    
    &__content {
        @include absCenter;
        width: 75%;
        height: auto;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, 02);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
        transition: all .5s .2s;

        @include respond(tab-port){
            width: 85%;
            height: auto;
            display: block;
        }
    }

    &__left {
        width: 33.3333333%;
        display: table-cell;

        @include respond(tab-port){
            width: 100%;
            display: block;
            padding: 3rem 1rem 0 5rem;
        }
    }

    &__right {
        width: 66.666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

        @include respond(tab-port){
            width: 100%;
            display: block;
        }
    }

    &__img {
        display: block;
        width: 100%;

        @include respond(tab-port){
            width: 45%;
            display: inline-block;
        }
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid $color-grey-light-1;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-1;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;

        @include respond(tab-port){
            column-count: 1;
        }
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &__close {
        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
        }

        &:hover {
            color: $color-primary-dark;
        }
    }


}